<div id="feeditems">
<ul>
{{#items}}

<li>
  <span class="time">{{time}} {{timeunit}} ago: </span>
  <a href="https://github.com/{{actor}}" target="_blank">{{actor}}</a>

{{#PullRequestEvent}}
  <a href="{{url}}" target="_blank">{{action}}</a> Pull Request {{number}} at
{{/PullRequestEvent}}
{{#IssuesEvent}}
  {{action}} <a href="{{url}}" target="_blank"> issue {{number}}</a> at
{{/IssuesEvent}}
{{#IssueCommentEvent}} commented on an issue at {{/IssueCommentEvent}}
{{#CommitCommentEvent}}
  <a href="{{url}}" target="_blank">commented</a> on a commit at
{{/CommitCommentEvent}}
{{#BranchEvent}}
  {{#CreateEvent}}
    created branch <a href="{{url}}" target="_blank">{{object}}</a> at
  {{/CreateEvent}}
{{/BranchEvent}}
{{#DeleteEvent}}
  deleted branch <a href="{{url}}" target="_blank">{{object}}</a> at
{{/DeleteEvent}}
{{#TagEvent}}
  {{#CreateEvent}}
    created tag <a href="{{url}}" target="_blank">{{object}}</a> at
  {{/CreateEvent}}
  {{#DeleteEvent}}
    deleted tag <a href="{{url}}" target="_blank">{{object}}</a> at
  {{/DeleteEvent}}
{{/TagEvent}}
{{#FollowEvent}} started following {{followee}} {{/FollowEvent}}
{{#ForkApplyEvent}} applied fork commits at {{/ForkApplyEvent}}
{{#PushEvent}} <a href="{{url}}" target="_blank">pushed</a> to {{/PushEvent}}
{{#ForkEvent}} forked {{/ForkEvent}}
{{#WatchEvent}} started watching {{/WatchEvent}}
{{#GollumEvent}} edited the wiki at {{/GollumEvent}}

{{^FollowEvent}}
  <a href="{{repourl}}" target="_blank"> {{repo}}</a>
{{/FollowEvent}}
</li>
{{/items}}
</ul>
</div>
