<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
      <a href="http://github.com/mrtazz/GithubFeedFilter">
      <img style="position: absolute; top: 0; right: 0; border: 0;"
       src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"
       alt="Fork me on GitHub" />
      </a>

    <div id="headline">
      <h1><a href="/"> {{headline}} </a></h1>
      <h3><a href="/settings"> Settings </a></h3>
      <h3> {{byline}} </h3>
    </div>
    {{{yield}}}

        <script src="/js/jquery-1.5.2.min.js" type="text/javascript"></script>
        <script src="/js/jquery.cookie.js" type="text/javascript"></script>
        <script src="/js/gff.js" type="text/javascript"></script>
        <script type="text/javascript">
            var _gauges = _gauges || [];
            (function() {
              var t   = document.createElement('script');
              t.type  = 'text/javascript';
              t.async = true;
              t.id    = 'gauges-tracker';
              t.setAttribute('data-site-id',
              '4e6a057af5a1f550d6000001');
              t.src = '//secure.gaug.es/track.js';
              var s =
              document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(t, s);
              })();
        </script>
    </body>
</html>

