 <form id="signinform" method="POST" action="#" type="application/x-www-form-urlencoded">
 <p>Github Username: <input type="text" name="username" id="username" size="25" required/></p>
 <p>API Token: <input type="password" name="password" id="password" size="25" required/></p>
 <p>
 <input type="submit" name="submit" id="signinbutton" value="Submit"/>
 <input type="reset" name="reset" id="reset" value="Reset"/>
 </p>
 </form>
