 <form id="signinform" method="POST" action="#" type="application/x-www-form-urlencoded">
 <p> <span class="leftcol">Github Username: </span>
     <input type="text" name="username" id="username" size="25" required/>
 </p>
 <p> <span class="leftcol">API Token: </span>
    <input type="password" name="password" id="password" size="25" required/>
 </p>
 <p>
<div class="buttons">
 <input type="submit" name="submit" id="signinbutton" value="Login"/>
 <input type="reset" name="reset" id="reset" value="Reset"/>
</div>
 </p>
 </form>
